@font-face {
    font-family: 'Cormorant';
    src: url('Cormorant.eot');
    src: url('Cormorant.eot?#iefix') format('embedded-opentype'),
        url('Cormorant.woff2') format('woff2'),
        url('Cormorant.woff') format('woff'),
        url('Cormorant.ttf') format('truetype'),
        url('Cormorant.svg#Cormorant') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

