.events-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2vh;
}

.search-bar {
  width: 55%;
}

.sort-select {
  width: 20% !important;
}

.event-cta {
  width: 20% !important;
  background-color: var(--primary-brand---color-primary);
  border: none;
}

.event-cta:hover {
  background-color: var(--primary-brand---color-primary-light) !important;
}

.event-cta:active {
  background-color: var(--primary-brand---color-primary-dark) !important;
}

.event-card {
  height: 17rem;
}

.event-title {
  font-size: 1.5vw;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--primary-brand---color-primary);
}

.event-date {
  font-size: 1.2vw;
  color: var(--text---color-text-secondary);
  margin-bottom: 0;
}

.event-date strong {
  color: var(--text---color-text-primary);
  margin-right: 1vw;
}

.eventForm input,
.eventForm textarea,
.eventForm .ant-picker {
  border: 1px solid var(--text---color-text-muted);
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.eventForm h4 {
  color: var(--text---color-text-primary);
  font-size: 1.5vw;
  font-weight: 600;
}

.eventForm .form-submit {
  background-color: var(--primary-brand---color-primary);
  border: none;
  margin-top: 2.5vh;
  color: var(--neutrals---color-white);
  font-size: 1.2vw;
  padding: 0.75rem;
  width: 100%;
  cursor: pointer;
}

.eventForm .form-submit:hover {
  background-color: var(--primary-brand---color-primary-light) !important;
}

.eventForm .form-submit:active {
  background-color: var(--primary-brand---color-primary-dark) !important;
}

/* mobile responsive */
@media (max-width: 768px) {
  .event-card {
    height: 22rem;
  }
  .event-title {
    font-size: 5vw;
  }
  .event-date {
    font-size: 4vw;
  }
  .search-bar {
    width: 40%;
  }
  .sort-select {
    width: 30% !important;
  }
  .event-cta {
    width: 20% !important;
    background-color: var(--primary-brand---color-primary);
    border: none;
    font-size: 3vw;
  }
}
