.projects-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2vh;
}

.search-bar {
  width: 55%;
}

.sort-select {
  width: 20% !important;
}

.project-cta {
  width: 20% !important;
  background-color: var(--primary-brand---color-primary);
  border: none;
}

.project-cta:hover {
  background-color: var(--primary-brand---color-primary-light) !important;
}

.project-cta:active {
  background-color: var(--primary-brand---color-primary-dark) !important;
}

.project-card {
  height: 17rem;
}

.project-title {
  font-size: 1.5vw;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--primary-brand---color-primary);
}

.project-tagline {
  font-size: 1.2vw;
  color: var(--text---color-text-secondary);
  margin-bottom: 0;
}

.ant-form-item-vertical {
  padding-bottom: 0;
  margin-bottom: 1rem;
}

.add-button {
  margin-bottom: 3vh;
}

/* mobile responsive */
@media (max-width: 768px) {
  .project-card {
    height: 22rem;
  }
  .project-title {
    font-size: 5vw;
  }
  .project-tagline {
    font-size: 4vw;
  }
  .search-bar {
    width: 40%;
  }
  .sort-select {
    width: 30% !important;
  }
  .project-cta {
    width: 20% !important;
    background-color: var(--primary-brand---color-primary);
    border: none;
    font-size: 3vw;
  }
}
