.login-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--backgrounds---color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: var(--backgrounds---color-surface);
}

.login-title {
  width: 100%;
  text-align: center;
  color: var(--text---color-text-primary);
}

.login-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.login-image {
  width: 30%;
  margin-bottom: 1.5vh;
}

.form-note {
  color: var(--text---color-text-muted);
}

.login-button {
  background-color: var(--primary-brand---color-primary);
  border-color: var(--primary-brand---color-primary);
  margin-top: 2vh;
}

.login-button:hover {
  background-color: var(--primary-brand---color-primary-light) !important;
  border-color: var(--primary-brand---color-primary-light);
}

.login-button:active {
  background-color: var(--primary-brand---color-primary-dark) !important;
  border-color: var(--primary-brand---color-primary-dark);
}

/* mobile responsive */
@media (max-width: 768px) {
  .login-image {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .login-image {
    width: 50%;
  }
}
